/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: darkcyan;
    text-decoration: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px "Alegreya Sans", Helvetica, Helvetica Neue, Arial;
    padding-bottom: 2em;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    text-align: center;
    padding-top: 5em;
}

header h1 {
    font: 100 4em "Alegreya Sans";
}

header h2 {
    font: 100 3.5em "Alegreya Sans";
    margin-bottom: 0;
}

header .i-wrap {
    height: 3.5em;
    margin-bottom: -1.75em;
    position: relative;
    z-index: 1;
}

header .i-wrap input {
    border: none;
    text-align:center;
    width: 100%;
    background: transparent;
    font: 100 3.5em "Alegreya Sans";
}

header .i-wrap input::-moz-placeholder{
    font-size: 0.5em;
}

header .i-wrap input:-moz-placeholder{
    font-size: 0.5em;
}

header .i-wrap input::-webkit-input-placeholder {
   font-size: 0.5em;
}

header .i-wrap input:-ms-input-placeholder {
   font-size: 0.5em;
}

footer {
    position: fixed;
    background-color: white;
    bottom: 0px;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #FDFDFD;
    padding: 0;
    height: 1.90em;
}

footer p {
    padding: 0;
    margin: 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.clickable {
    cursor: pointer;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.accounts-wrap {
    padding-left: 30%;
    text-align: left;
}

.account-wrap {
    color: #FF9F80;
}

.account-wrap.confirmed {
    color: #D1F2A5;
}

.accounts-wrap .account {
    width: 35%;
    display: inline-block;
}

.accounts-wrap .status {
    width: 5%;
    text-align: center;
    display: inline-block;
}
.accounts-wrap .protocol{
    margin: 0 5px;
}

.accounts-wrap button {
    border: none;
    padding: 2px 5px;
    background-color: #FFC48C;
    color: white;
    font-size: 0.8em;
}

.accounts-wrap form {
    color: #ccc;
}

.accounts-wrap form select {
    padding: 3px 0;
}

.accounts-wrap form {
    margin: 10px
}
.accounts-wrap form button {
    padding: 6px;
    margin: 3px
}














/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}